.ant-layout-header {
  background: white;
  position: fixed;
  width: 100vw;
  padding: 0 8vw;
  z-index: 1;
}

.container {
  height: 100vh;
  padding: 12vh 8vw;
  background: white;
}

.profile {
  width: 250px;
  border-radius: 50%;
  opacity: 0.9;
}

.appLink {
  color: initial !important;
}

.appLink:hover {
  color: slateblue !important;
}

.anchor {
  padding: "2vw";
}

.ant-anchor-wrapper-horizontal::before {
  border-bottom: none;
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link {
  padding-inline-start: 2vw;
}
