body {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  width: 0.5vw;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: slateblue;
}

.ant-layout-header {
  background: white;
  position: fixed;
  width: 100vw;
  padding: 0 8vw;
  z-index: 1;
}

.ant-anchor-wrapper-horizontal::before {
  border-bottom: none;
}

.ant-anchor-wrapper .ant-anchor .ant-anchor-link {
  padding-inline-start: 4vw;
}

.container {
  height: 100vh;
  padding: 12vh 8vw;
  background: white;
  overflow-y: auto;
}

.parentFull {
  min-width: 100%;
  min-height: 100%;
}

.appLink {
  color: initial !important;
}

.appLink:hover {
  color: slateblue !important;
}

.profile {
  width: 250px;
  border-radius: 50%;
  opacity: 0.9;
}

.profileName {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 42px;
  opacity: 0.75;
  letter-spacing: 2px;
}

.profileDescription {
  font-weight: 400 !important;
  opacity: 0.8 !important;
  margin: 0 !important;
}

.highlight {
  font-family: "Alegreya Sans SC", sans-serif;
  color: slateblue;
  letter-spacing: 1px;
  font-size: 24px;
}
